body {
    background-image: url(../images/white-waves.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

body, html {
    height: 100%;
}

#bio-image {
    width: 200px;
    /* float: left; */
    margin-right: 20px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    border: 2px #dddddd solid;
    line-height: 32px;
}

p {
    line-height: 2;
}

.footer {
    background-color: #666666;
    padding-top: 170px;
  }

.imageandtext {
    float: left;
    /* margin-right: 32px; */
    /* margin-bottom: 37px; */
}

.centered {
    position: absolute;
    margin-top: -40px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #ffffff;
    width: 270px;
    text-align: center;
}

.navbar {
    height: 72px;
    border-bottom: 2px #cccccc solid;
}

.navbar-brand {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 28px;
    background-color: #4aaaa5;
}