body {
    background-image: url(../images/white-waves.png);
}

#bio-image {
    width: 200px;
    /* float: left; */
    margin-right: 20px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    border: 2px #dddddd solid;
}

p {
    line-height: 2;
}

.footer {
    background-color: #666666;
  }

  .imageandtext {
    position: relative;
  }

  .centered {
    position: absolute;
    left: 0;
    top: 110%;
    margin-top: -55px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
  }